.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  width: 100%;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid var(--border-color); /* Lighter part of the circle */
  border-top-color: var(--accent-color); /* The moving part of the circle */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--text-secondary);
}

/* The animation that rotates the spinner */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}